@{
<<<<<<< HEAD
    ViewBag.Title = @ViewRes.SharedLayoutStrings.About;
}

<h2>@ViewRes.SharedLayoutStrings.About</h2>
<p>
     @ViewRes.SharedLayoutStrings.AboutUs
=======
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Put content here.
>>>>>>> 70019ad6cebd2e9b9c2853cba260c0dda4297cde
</p>
