@{
<<<<<<< HEAD
    ViewBag.Title = @ViewRes.SharedLayoutStrings.RegistrationSucceed;
}

<h2>@ViewRes.SharedLayoutStrings.RegistrationSucceed</h2>
=======
    ViewBag.Title = "RegistrationSuccess";
}

<h2>RegistrationSuccess</h2>
>>>>>>> 70019ad6cebd2e9b9c2853cba260c0dda4297cde
